/* Load fonts */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
/* Dat's Content Start  */

/* multipage */

body {
  background-color: #F2F2F2 !important;
  font-family: 'Roboto', sans-serif;
  color: var(--gray);
  font-weight: 400;
  font-size: 1.1rem
}

a {
  color: #004C9E
}


.page-link {
  color: #004C9E!important;
}

.fa-plus.icon {
  font-size: 1.4rem;
  margin: 0 5px;
  padding: 12px;
  color: #6c757d;
}

.bg-teal {
  background: #8ee9dd
}

.checkbox-bg-teal {
  background: #8ee9dd
}

.body-wrapper-100px {
  padding-top: 70px;
  padding-left: 60px;
}

.list-group-item-action {
  color: inherit;
}

.sidebar22 {
  height: 100%;
  width: auto;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  overflow-x: hidden;
  padding-top: 50px;
  margin-top: 20px
}

.teal-hover:hover {
  color: var(--teal);
  cursor: pointer
}

.NavExpandtext {
  display: none;
}

.active-teal {
  color: var(--teal) !important;
  cursor: pointer
}

.border-active {
  border-left: 5px solid var(--teal) !important;
}

.border-L-3 {
  border-left: 5px solid transparent !important;
}

.cursor {
  cursor: pointer;
}

.whitesmoke {
  background-color: #F5F5F5
}

.bg-lightgray {
  background-color: #f5f5f5 !important;
}

.shadow {
  box-shadow: 0px 3px 5px gainsboro !important;
}

.shover:hover {
  background-color: gainsboro !important;
}

.logo {
  height: auto;
  width: 50px;
  min-width: 200px;
}

.nav-link {
  white-space: nowrap;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.navbar-light .navbar-nav .nav-link {
  color: inherit;
  font-size: 1.3rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--teal)
}

/* Thumbnail */

.h7 {
  font-size: 0.9em
}

.thumb-title {
  height: 3em;
  line-height: 1.4em;
  overflow: hidden;
  padding: 0;
  font-size: 1rem
}

.thumb-user {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1.1rem
}

.thumb-stat {
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 1.2rem
}

.thumb-ul {
  display: flex;
  align-items: stretch;
  /* Default */
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.thumb-li {
  display: block;
  flex: 0 1 auto;
  /* Default */
  list-style-type: none;
}

/* Tooltip */

.tooltip>.tooltip-inner {
  background-color: white;
  color: black;
  border: 0;
  padding: 4px !important;
  font-size: 15px;
  display: block;
  box-shadow: 0px 3px 5px gray;
  z-index: 4;
}

.tooltip.show {
  opacity: 1;
}

/* Bundle Button */

.div-button {
  z-index: 2;
  position: fixed;
  top: 90px;
  right: 10px;
  height: auto;
}

.fa-bars {
  color: #666666;
}

.btn-bundle {
  background: var(--teal);
  color: white;
  cursor: pointer;
  width: 200px;
}

.btn-bundle.btn:hover {
  color: white !important;
}

.btn-outline-secondary {
  color: inherit;
}

.table {
  color: inherit;
}

.table .thead-light th {
  color: inherit;
}

.expand-me {
  width: 250px !important;
}

.expand-me-default {
  width: 200px !important;
}

.btn-bundle-body {
  background-color: white;
  color: #6c757d;
  width: 250px;
  display: none;
}

ul.btn-bundle-ul {
  display: block;
  margin: 0;
  padding: 0;
}

li.btn-bundle-li {
  flex: 0 1 auto;
  list-style-type: none;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 2px;
  padding: 1px;
}

.btn-bundle-text {
  white-space: nowrap;
  display: inline-block;
}

.bundle-delete-block {
  display: block;
}

/* My Collection */

.collection {
  list-style-type: none;
  border: 1px solid gainsboro;
  padding: 6px 9px;
  margin: 4px 7px;
  background-color: white;
  color: #666666;
  ;
}

ul.navmycol {
  list-style-type: none;
  background: white;
  border: 1px solid gainsboro !important;
  margin: 0;
  padding: 0;
}

li.navmycol-list {
  padding: 0.4em;
}

li.navmycol-list2 {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

div.navmycol-pin {
  position: absolute;
  right: 1.8em;
}

div.mycol-chevron {
  font-size: 1.2em
}

.mycol-title-bar {
  height: 2.4em;
  line-height: 1.6em;
  overflow: hidden;
  background-color: white;
  padding-top: 0.1em;
  box-shadow: 0px 3px 5px gainsboro;
  margin-bottom: 5px;
}

.mycol-title-text {
  padding: 0.4em;
}

.mycol-icons {
  padding: 0.4em;
  font-size: 1em;
  white-space: nowrap;
}

.mycol-body {
  padding: 0.6em;
  font-size: 1em;
}

.quickviewclick {
  cursor: pointer;
}

/* myucode */

table.myucodetable td,
tr {
  text-align: center;
  vertical-align: middle;
}

/* FAQ */

.anchor {
  display: block;
  position: relative;
  top: -68px;
  visibility: hidden;
}

.pa-40 {
  padding-top: 50px;
}

/* Signup */

.border-green {
  border-top: 0;
  border-right: 3px solid #28a745 !important;
  border-bottom: 3px solid #28a745 !important;
  border-left: 3px solid #28a745 !important;
}

.signupbg {
  background: #ececec
}

/* mymedia */

.title_column {
  min-width: 300px;
  text-align: left;
}

.mymedia_list {
  overflow-x: scroll;
}

.mymedia_list td:nth-child(2) {
  min-width: 400px;
  text-align: left
}

.fs-65 {
  font-size: 65px
}

/* my profile */

.placeholder {
  height: 200px;
  width: 200px;
  border-radius: 50px 50px 50px 50px;
  background: #f0ed36
}

.ulmyprofile {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.myprofile_row {
  margin-left: 0;
}

.myprofile-tab-nav .btn {
  padding: 4px;
}

.myprofile-tab-nav li {
  font-size: 1.3rem;
}

.myprofile-tab-nav .collection {
  margin: 2px 2px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.myprofile-tab-nav a:hover {
  color: black;
}

.myprofile-tab-nav a:hover.active {
  color: black;
}

.myprofile-tab-nav .nav-link.active {
  background-color: var(--teal);
  color: white;
  border-color: #dee2e6;
}

.myprofile-tab-nav .nav-tabs {
  border-bottom: 0;
}

.noflexwrap {
  flex-wrap: nowrap
}

.boximage {
  max-width: 20%;
}

.myprofile-overflow {
  height: 2.2em;
  line-height: 1.1em;
  overflow: hidden;
}

.img-thumbnail {
  max-height: 100px;
}

#myTabContent {
  /* margin-block-start: 1em; */
  width: 100%;
}

.nav-pills .nav-link.active {
  background-color: var(--teal) !important;
}

/* mediapage */

.mediapage_container img {
  max-height: 600px;
}

.mediapage-overflow {
  height: 1.1em;
  line-height: 1.1em;
  overflow: hidden;
}

.mediapage_date {
  display: flex;
}

/* ucodepage */

.border-teal {
  border: 2px solid var(--teal) !important;
}

.medialist {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.mediaitem {
  display: flex;
  flex-direction: row;
  padding: 5px;
  cursor: pointer;
  border: 2px solid transparent;
}

.medialist div:hover {
  background-color: gainsboro;
}

.mediaitem div:nth-child(2) {
  overflow: hidden;
  height: 2rem;
  line-height: 2.5rem
}

.mediaitem div:nth-child(1) {
  font-size: 1.7rem;
  margin-right: 10px;
  color: var(--teal);
  text-align: center
}

/* addmedia */

.form-check-label {
  cursor: pointer;
}

/* Dat's Content End */

/* Variables */

:root {
  /* Override Variables */
  /* --teal: #17baa3; */
  --teal: #0D776B;
  --gray: #555555;
  --gray-dark: #404040;
  --font-family-sans-serif: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-family-serif: 'Merriweather', 'Times New Roman', serif;
  /* Page Variables */
  --font-weight-light: 200 !important;
  --color-medium: #ddd;
  --color-reverse: var(--gray-dark);
  --color-text: var(--gray-dark);
  --color-text-reverse: var(--light);
  --font-family-title: var(--font-family-sans-serif);
  --font-family-text: var(--font-family-serif);
}